:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: #242424;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #1a1a1a;
  color: white;
}

.container2 {
  width: 100%;
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #213547;
}

.btn-outline-danger {
  background: linear-gradient(#c1ab3c, #ff5500) !important;
  font-weight: 500 !important;
  transition: all 0.5s ease-in-out;
  color: wheat !important;
}

.btn-outline-danger:hover {
  background: linear-gradient(#f0350b, #b83e05) !important;
  color: white !important;
  scale: 1.03;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

.btn-outline-warning {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.btn-outline-warning:hover {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.bg-success {
  transition: all 0.2s ease-in;
  color: wheat !important;
  background: linear-gradient(#595959, #101010) !important;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  border: none !important;
}
.bg-success:hover {
  border: white solid 1px !important;
  background: linear-gradient(#fd4343, #ff0000) !important;
  scale: 1.03;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

.btn-outline-success {
  background: linear-gradient(#36893e, #006c0b) !important;
  color: wheat !important;
  transition: all 0.2s ease-in;
}

.btn-outline-success:hover {
  background: linear-gradient(#21af2f, #0f7819) !important;
  color: white !important;
  scale: 1.03;
}
